{% extends "base.html" %}
{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3>Customer List</h3>
        <a href="{% url 'create_customer' %}" class="btn btn-primary">
            + Create Customer
        </a>
    </div>

    <div class="card shadow">
        <div class="card-body">

            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Account No</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.username }}</td>
                        <td>{{ customer.email }}</td>
                        <td>
                            {% if customer.account %}
                                {{ customer.account.account_number }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if customer.account.status == "Active" %}
                                <span class="badge bg-success">Active</span>
                            {% else %}
                                <span class="badge bg-danger">Frozen</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'update_customer' customer.id %}" 
                               class="btn btn-sm btn-warning">
                                Edit
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">
                            No customers found.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    </div>

</div>

{% endblock %}
