{% extends 'base.html' %}
{% block content %}

<div class="dashboard-container">

    <!-- Sidebar -->
    <div class="sidebar">
        <h3 class="brand">PrimeTrust</h3>
        <a href="#">🏠 Dashboard</a>
        <a href="{% url 'deposit' %}">💰 Deposit</a>
        <a href="{% url 'withdraw' %}">💳 Withdraw</a>
        <a href="{% url 'transfer' %}">🔁 Transfer</a>
        <a href="#">📄 Transactions</a>
        <a href="#">⚙ Settings</a>
        <a href="{% url 'logout' %}">🚪 Logout</a>
    </div>

    <!-- ✅ MAIN CONTENT (YOU MISSED THIS 😏🔥) -->
    <div class="main-content">
        <div class="balance-card">
    <div>
        <p>Welcome Back</p>
        <h4>{{ name }}</h4>
        <h1>₹ {{ balance }}</h1>
        <small>Account No: {{ account_number }}</small>
        <br>
        <small>IFSC Code: {{ ifsc }}</small>
    </div>
</div>
        <div class="action-grid">

            <a href="{% url 'deposit' %}">
                <div class="action-box green">
                    💰
                    <h5>Deposit</h5>
                </div>
            </a>

            <a href="{% url 'withdraw' %}">
                <div class="action-box yellow">
                    💳
                    <h5>Withdraw</h5>
                </div>
            </a>

            <a href="{% url 'transfer' %}">
                <div class="action-box blue">
                    🔁
                    <h5>Transfer</h5>
                </div>
            </a>

            <a href="{% url 'add_beneficiary' %}">
                <div class="action-box purple">
                    👤
                    <h5>Beneficiary</h5>
                </div>
            </a>

        </div>

        <!-- Recent Activity -->
        <div class="recent-section">
            <h4>Recent Transactions</h4>
            <div class="recent-card">
                No recent transactions yet.
            </div>
        </div>

    </div>

</div>

{% endblock %}
