{% extends "base.html" %}
{% block content %}

<h2>➖ Withdraw Money</h2>

<div class="card p-4 shadow">
    <p><strong>Current Balance:</strong> ₹ {{ account.balance }}</p>

    <form method="POST">
        {% csrf_token %}
        <input type="number" name="amount" step="0.01" class="form-control mb-3" placeholder="Enter Amount" required>
        <button type="submit" class="btn btn-danger">Withdraw</button>
    </form>

    {% if message %}
        <div class="mt-3 alert alert-info">
            {{ message }}
        </div>
    {% endif %}
</div>
<div class="mt-3">

    <button type="submit" class="btn btn-warning">
        💸 Withdraw
    </button>

    <a href="{% url 'customer_dashboard' %}" class="btn btn-secondary ms-2">
        ⬅ Back to Dashboard
    </a>

</div>


{% endblock %}
